/* overall document */

body {
  font-family: Arial, Helvetica, sans-serif;
}

container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 0.5fr 3fr;
}

svg {
  width: 2rem;
  padding-right: 1rem;
}

/* navigation - left */

.sidebar {
  padding-left: 2rem;
  padding-right: 10rem;
  display: grid;
  grid-template-rows: 0.1fr 1fr 1fr;
  background-color: #0369a1;
  color: white;
}

.nav {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.navTop {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.navBot {
  display: grid;
  padding-top: 50%;
}

/* main */

/* main -  header*/
.mainTop {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: 2px 0px 8px;
}

.topBar {
  padding-left: 5rem;
  padding-top: 5%;
  width: 100%;
  height: 10vh;
}

#searchBar {
  width: 30vw;
  height: 20px;
  border-radius: 5px;
}

/* main - content section */
.mainGrid {
  display: grid;
  grid-template-rows: 0.4fr 1fr;
  width: 100%;
}
.mainBot {
  display: grid;
  padding-top: 1rem;
  padding-left: 1rem;
  grid-template-columns: 1fr 1fr;
  background-color: #e5e7eb;
  justify-content: start;
}
.projects {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.gridRight {
  padding-left: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 40%;
}

.project {
  border-radius: 10px;
  text-align: justify;
  padding: 5% 5% 5% 5%;
  border-left-style: solid;
  border-left-color: orange;
  border-left-width: 10px;
  background-color: white;
  box-shadow: 2px 2px 8px;
}

.gridRight div {
  display: grid;
  grid-template-rows: repeat(1fr);
  border-left-width: 10px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
  height: 70%;
  text-align: center;
  box-shadow: 2px 2px;
}
