body {
  font-family: Arial, Helvetica, sans-serif;
}

container {
  display: flex;
}
ul {
  list-style: none;
}

.sidebar {
  display: grid;
  grid-template-rows: 0.1fr 1fr 1fr;
}

.nav {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.navTop {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.navBot {
  display: grid;
  padding-top: 50%;
}

.mainGrid {
  display: grid;
  grid-template-rows: 0.4fr 1fr;
}
.mainBot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}
.projects {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.gridRight {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 40%;
}

.project {
  border-radius: 10px;
  width: 300px;
  height: 150px;
  text-align: justify;
  padding: 5% 5% 5% 5%;
  border-left-style: solid;
  border-left-color: yellow;
  border-left-width: 10px;
}

.gridRight div {
  display: grid;
  grid-template-rows: repeat(1fr);
}
